.wrapper {
  padding: 0 25px 25px 25px;
  width: 100%;
  background-color: rgb(41, 41, 41);
}
.castList {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
.cast {
  width: 100px;
  margin: 15px;
  background-color: rgb(22, 22, 22);
}
.img {
  width: 100px;
  height: 150px;
  object-fit: cover;
}

.name {
  font-size: 14px;
  font-weight: 700;
}
.role {
  font-size: 12px;
}
