.list {
  display: flex;
  flex-wrap: wrap;
}

.item {
  position: relative;
  margin: 15px;
  height: 350px;
  width: 200px;
  transition: all 250ms ease;
  overflow: hidden;
}

.item:hover .overlay,
.item:focus .overlay {
  transform: translateY(0);
}

.image {
  height: 300px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 7px;
}
.imageBox {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 40px;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  transform: translateY(-40px);
  transition: all 250ms ease;
}

.movieIcon {
  position: absolute;
  bottom: 15px;
  right: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
